<%= form_for(@post, :html => {:role => "form"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, "Title(It will represent your post)" %>
    <%= f.text_field :title, :class => "form-control input-xxlarge", :placeholder => "Title of the Post" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Post Content(Actual content of your post)" %>
    <%= f.text_area :body, :class => "ckeditor" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
