<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FullStackRoR" %></title>
    <%= csrf_meta_tags %>
    <%= render :partial => 'layouts/assets' %>

  </head>
  <body>

    <div class="container">

      <div class="left-division">

        <div class="header">
          <div class="logo"></div>
          <div class="desc">
            rwete
          rtyey'thyrt
          </div>
          <%#= render :partial => 'layouts/navbar' %>
        </div>
        <div class="main row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <%= render :partial => 'layouts/sidebar' %>
          </div><!--/span-->
        </div><!--/row-->

        <div class="footer">
          <p>&copy; Company 2014</p>
        </div>

      </div>

      <div class="right-division"></div>

      <div class="clear"></div>

    </div> <!-- /container -->

  </body>

</html>
