<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "BlogEngine", "#", :class => "brand"  %>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Themes", "#"  %></li>
          <li><%= link_to "Support", "#"  %></li>
          <li><%= link_to "Forums", "#"  %></li>
          <li><%= link_to "News", "#"  %></li>
          <li><%= link_to "Features", "#"  %></li>
          <% if user_signed_in? %>
          	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></li>
          <% else %>
          	<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
          	<li><%= link_to "Sign in", new_session_path(resource_name) %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>